.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
table{
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: auto;
  margin-bottom: 20px;
}
caption {
  caption-side: top;
}
th{
  text-align: center;
  background-color: green;
  color: white;
  width: 250px;
  height: 75px;
}
td{
  text-align: center;
  height: 75px;

}
#paymybuddy{
  border-radius: 5px;
}
#send_money{
  width: 750px;
  height: 50px; 
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

}
#findConnection{
  height: 50px; 
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

}
#recipient, #description, #amount, #email, #name, #fullName{
  height: 30px;
  border-radius: 5px;
}
.buddy_amount:after{
  content: '€';
}
#pay, #search, #add{
  height: 30px;
  width: 75px;
  border-radius: 5px;
}