<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/headers.css" th:href="@{./css/headers.css}" rel="stylesheet">

    <title>Pay My Buddy - My Connections</title>
  </head>

  <body>

    <main>
      <div class="container">
        <div class="row">
          <header class="col d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a id="paymybuddy" href="transfer" class="d-flex bg-success align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <span class="fs-4 px-3 text-white">Pay My Buddy</span>
            </a>

            <ul class="nav nav-pills">
              <li class="nav-item"><a href="transfer" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="transfer" class="nav-link">Transfer</a></li>
              <li class="nav-item"><a href="profil" class="nav-link">Profil</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
              <li class="nav-item"><a href="login" class="nav-link">Log off</a></li>
            </ul>
          </header>
        </div>
      </div>
      <div class="container bg-light">
        <div class="row">
          <header class="d-flex py-3">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="transfer" class="nav-link">Home</a></li>
              <li class="nav-item"><p class="nav-link">/</p></li>
              <li class="nav-item"><a href="transfer" class="nav-link">Transfer</a></li>
            </ul>
          </header>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-10 mx-auto">
            <caption>Add A Connection By Email</caption>
          </div>
        </div>
        <div class="row">
          <form th:action="@{connection}" th:object="${connectionDto}" method="post" class="col-10 mx-auto bg-light">
            <div id="findConnection">
              <input id="email" type="text" name="connectionEmail" th:field="*{connectedUserEmail}" placeholder="Email" required maxlength="255" class="col-3">
              <input id="name" type="text" name="name" placeholder="Name" th:field="*{connectionName}" maxlength="45" class="col-3">
              <!-- <input id="fullName" type="text" name="fullName" placeholder="Full name" th:value="${resultFullName}" class="col-3" disabled> -->
              <input id="add" type="submit" value="Add" class="bg-success text-white col-3">
              <div th:if="${errorEmail != null}">
                <p th:text="${errorEmail}" class="font-weight-bold text-danger"></p>
              </div>
            </div>
          </form>
        </div>
      </div>

      <section>
        <div class="container">
          <div class="row">
            <table class="col-10">
              <caption>My Connections</caption>

              <tr>
                <th>Name</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Delete</th>
              </tr>
              <tr th:each="connection: ${connectionsList}" th:class="${connectionStat.odd}? 'bg-light'">
                <td th:text="${connection.connectionName}" />
                <td th:text="${connection.connectedUserFullName}" />
                <td th:text="${connection.connectedUserEmail}" />
                <td>
                  <form th:action="@{deleteConnection/{id}(id=${connection.connectedUserId})}" th:object="${user}" th:method="delete">
                    <button type="submit" onClick="return confirm('Are sure you want to delete this connection ?')" class="bg-danger text-white font-weight-bold">X</button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
