<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Pay My Buddy - Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{./css/bootstrap.min.css}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/login.css" th:href="@{./css/login.css}" rel="stylesheet">
    
  </head>
  <body class="text-center">
    
    <div class="container">
      <div class="row">
        <div class="col-12">
          <img class="mx-auto" src="../static/images/logo_simple.png" th:src="@{./images/logo_simple.png}" alt="Pay My Buddy Logo" width="500" height="150">
        </div>
      </div>
      <div class="row">
        <main class="form-signin">
          
          <form th:action="@{/login}" th:object="${user}" method="post">
            <div class="form-floating">
              <input type="email" class="form-control rounded" name="username" id="floatingInput" placeholder="Email@mail.com">
              <label for="floatingInput">Email address</label>
            </div>
            <p></p>
            <div class="form-floating">
              <input type="password" class="form-control rounded" name="password" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div th:if="${param.error}">
              <p style="font-size: 20; color: #FF1C19;">Email or password is invalid</p>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p></p>
            <a class="w-100 btn btn-success" href="/register"><span class="font-weight-bold">Create an account</span></a>
          </form>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
